<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mini_pi">

  <!-- Colors -->
  <xacro:include filename="$(find mini_pi_description)/xacro/materials/materials.xacro"/>
  
  <!-- Shapes & Caster,Sensor,Chassis -->
  <xacro:include filename="$(find mini_pi_description)/xacro/macros/shapes.xacro"/>
  <xacro:include filename="$(find mini_pi_description)/xacro/macros/wheel.xacro"/>
  <xacro:include filename="$(find mini_pi_description)/xacro/macros/caster.xacro"/>
  <xacro:include filename="$(find mini_pi_description)/xacro/macros/ultrasonic_sensor.xacro"/>
  <xacro:include filename="$(find mini_pi_description)/xacro/macros/chassis.xacro"/>

  <!-- Robot Parts -->
  <xacro:include filename="$(find mini_pi_description)/xacro/parts/params.xacro"/>
  <xacro:include filename="$(find mini_pi_description)/xacro/parts/chassis.xacro"/>
  <xacro:include filename="$(find mini_pi_description)/xacro/parts/wheels.xacro"/>
  <xacro:include filename="$(find mini_pi_description)/xacro/parts/sensors_ultrasonic.xacro"/>

  <!-- ============================ -->
  <!-- =   Robot Model Assembly   = -->
  <!-- ============================ -->

  <!-- Root link -->
  <link name="base_footprint"/>
  <joint name="footprint_to_base" type="fixed">
    <parent link="base_footprint"/>
    <child  link="base_link"/>
    <origin xyz="0 0 0.0575" rpy="0 0 0"/>
  </joint>

  <!-- Define the base link-->
  <link name="base_link">
    <!-- Placeholder for base_link; no geometry or inertial properties defined -->
  </link>

  <!-- Chassis -->
  <xacro:mini_pi_chassis parent="base_link"/>
  
  <!-- Wheels left & right -->
  <xacro:mini_pi_wheels parent="base_link"/>
  
  <!-- Ultrasonic sensors 1,2,3,4 -->
  <xacro:mini_pi_ultrasonic parent="base_link"/>

  <!-- ==== Caster Wheels ==== -->
  <xacro:caster_wheel 
    name="front_caster"
    parent_link="base_link"
    pos_x="0.0400" pos_y="0" pos_z="-0.0500"
    color_roll="Yellow"
    color_pitch="Pink"
    color_yaw="Blue"
    length="0.0075"
    radius="0.0075"
    mass="0.0002"/> 

  <xacro:caster_wheel 
    name="back_caster"
    parent_link="base_link"
    pos_x="-0.0400" pos_y="0" pos_z="-0.0500"
    color_roll="Yellow"
    color_pitch="Pink"
    color_yaw="Blue"
    length="0.0075"
    radius="0.0075"
    mass="0.0002"/> 

  <!-- ==== Ros2 Controller ==== -->
  <ros2_control name="MiniPiSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="wheel_right_joint">
      <command_interface name="velocity"/> 
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wheel_left_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- CASTER JOINTS: state-only (passive) -->
    <joint name="front_caster_yaw_joint">
      <state_interface name="position"/>
    </joint>

    <joint name="front_caster_roll_joint">
      <state_interface name="position"/>
    </joint>
    
    <joint name="front_caster_pitch_joint">
      <state_interface name="position"/>
    </joint>
    
    <joint name="back_caster_yaw_joint">
      <state_interface name="position"/>
    </joint>
    
    <joint name="back_caster_roll_joint">
      <state_interface name="position"/>
    </joint>
    
    <joint name="back_caster_pitch_joint">
      <state_interface name="position"/>
    </joint>

  </ros2_control>

  <!-- ==== Gazebo plugin ==== -->
  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find mini_pi_description)/config/controller.yaml</parameters>
    </plugin>
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>

  </gazebo>

</robot>