<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mini_pi">

  <!-- Path to the STL mesh -->
  <xacro:property name="lidar_mesh" value="package://mini_pi_description/meshes/lidar_sensor.dae"/>

  <!-- ===== Macros for lidar component ==== -->
  <xacro:macro name="lidar_sensor" params="name mass parent_link xyz rpy joint_type">
    <!-- Lidar link -->
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${lidar_mesh}" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.03" length="0.03" />
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia 
                ixx="1e-5" 
                ixy="0.0" 
                ixz="0.0"
                iyy="1e-5" 
                iyz="0.0"
                izz="1e-5"/>
      </inertial>
    </link>
    <!-- Lidar joint -->    
    <joint name="${name}_joint" type="${joint_type}">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent_link}"/>
      <child link="${name}"/>
      <xacro:if value="${joint_type != 'fixed'}">
        <axis xyz="0 0 1"/>
      </xacro:if>
    </joint>
  </xacro:macro>

</robot>