<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mini_pi">
  
  <!-- ===== Macros for squared component ==== -->
  <xacro:macro name="square_link" params="name size_x size_y size_z material mass parent_link xyz rpy joint_type">
    <!-- Squared link -->
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${size_x} ${size_y} ${size_z}"/>
        </geometry>
        <material name="${material}"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${size_x} ${size_y} ${size_z}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia 
          ixx="${(1/12.0)*mass*(size_y*size_y + size_z*size_z)}"
          ixy="0.0"
          ixz="0.0"
          iyy="${(1/12.0)*mass*(size_x*size_x + size_z*size_z)}"
          iyz="0.0"
          izz="${(1/12.0)*mass*(size_x*size_x + size_y*size_y)}" />
      </inertial>
    </link>
    <!-- Squared joint -->    
    <joint name="${name}_joint" type="${joint_type}">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent_link}"/>
      <child link="${name}"/>
      <xacro:if value="${joint_type != 'fixed'}">
        <axis xyz="0 0 1"/>
      </xacro:if>
    </joint>
  </xacro:macro>

  <!-- ==== Macro for Cylindrical Component ==== -->
  <xacro:macro name="cylinder_link" params="name radius length material mass parent_link xyz rpy joint_type axis">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
        <geometry>
          <cylinder radius="${radius}" length="${length}" />
        </geometry>
        <material name="${material}">
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
        <geometry>
          <cylinder radius="${radius}" length="${length}" />
        </geometry>
        <surface>
          <friction>
            <ode>
              <mu>1.5</mu>
              <mu2>1.5</mu2>
            </ode>
          </friction>
          <contact>
            <ode>
              <kp>1e6</kp>
              <kd>1.0</kd>
            </ode>
          </contact>
        </surface>
      </collision>
      <inertial>
        <mass value="${mass}" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="${(1.0/12.0)*mass*(3.0*(radius*radius) + (length*length))}"
                 ixy="0" 
                 ixz="0" 
                 iyy="${(1.0/2.0) *mass*(radius*radius)}"
                 iyz="0"
                 izz="${(1.0/12.0)*mass*(3.0*(radius*radius) + (length*length))}"/>
      </inertial>
    </link>
    <!-- Cylinder joint -->
    <joint name="${name}_joint" type="${joint_type}">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent_link}" />
      <child link="${name}" />
      <axis xyz="${axis}" />
    </joint>
  </xacro:macro>

</robot>